
.container
  %h1 Hello World
  = link_to courses_path, class: 'btn btn-success m-1' do
    .fa.fa-book
    Course
  = link_to privacy_policy_path, class: "btn btn-warning" do
    %i.far.fa-file-word
    Privacy Policy

